/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

html {
  background: url('https://mkpcdn.com/1000x/a8f36f59d285c4dc8ee870311e026c86_231877.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

img {

  margin: 0 auto;
  width: 25%;
  height: 50%
}

.text,
header {
  display: flex;
  justify-content: space-around;

}

.text {
  color: blanchedalmond
}

.image {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 75%;
}

.right {
  display: flex;
  justify-content: right;
  align-items: center;
}

h1 {

  overflow-wrap: normal;
  color: white;
  align-content: center;

  /* width: 33%; */
  font-size: 1.5em;
  font-family: 'Noto Serif', serif;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media (max-width: 800px) {

  .image,
  .right {
    display: flex;
    margin-top: 100%;

  }


}

/* @media screen and (min-width: 425px) ) */