/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

html {
  background: url('https://mkpcdn.com/1000x/a8f36f59d285c4dc8ee870311e026c86_231877.jpg') no-repeat center fixed;
  -webkit-background-size: ;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

img {
  margin: 0 auto;
  width: 25%;
  height: 50%;
  margin-top: 1em;
}




header {
  display: flex;
  justify-content: space-around;
}

.text {
  color: blanchedalmond;
  width: 85%;
}

.refresh {
  display: flex;
  justify-content: center;
}

h2 {
  display: flex;
  justify-content: center;
}

.image {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 75%;
}

.right {
  display: flex;
  justify-content: right;
  align-items: center;
}

h1 {

  overflow-wrap: normal;
  color: white;
  align-content: center;

  /* width: 33%; */
  font-size: 1.5em;
  font-family: 'Noto Serif', serif;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media (max-width: 768px) {
  .image {
    display: flex;
    /* Change the layout to a flexbox */
    flex-direction: column;
    /* Stack images vertically */
  }

  .image img {
    margin: 0 auto;
    margin-bottom: 10px;
    /* Add some space between stacked images */
    width: 50%;
  }

  .text {
    background-color: rgba(0, 0, 0, 0.263);
  }
}