{% extends 'base.html' %}

{% block title %}
    A briefing for the Aliens
{% endblock title %}

{% block h1 %} Cats! {% endblock h1 %}
{% block navlink %}
<a href="{% url 'math_gen' %}" class="refresh"><button>Maths!</button></a>
{% endblock navlink %}
{% block content %}
       
        
        <section class="text">
            <h2>{{ cat_fact }}</h2>
            
        </section>
        <section class = 'image'>
            <img id="left"src="{{ cat_pic }}" alt="Random Cat">
            
            <h3></h3>

            <img id="right" src="{{ cat_pic2 }}" alt="Another Random Cat">

        </section>
    
        
{% endblock content %}