{% extends 'base.html' %}

{% block title %}
    A briefing for the Aliens
{% endblock title %}

{% block h1 %} Maths! {% endblock h1 %}
{% block navlink %}
<a href="{% url 'cat_fact' %}" class="refresh"><button>Cats!</button></a>
{% endblock navlink %}
{% block content %}
        <!-- <script>
            document.getElementById('userInput').addEventListener('input', function() {
                const userInput = parseInt(this.value);
                const answer = {{ answer }};  // Access the answer from the view
    
                if (!isNaN(userInput) && userInput === answer) {
                    this.style.color = 'green';  // Change font color to green for correct answer
                } else {
                    this.style.color = '';  // Reset font color for incorrect answer
                }
            });
        </script> -->
        
        <title>Math for the Little Ones</title>
    </head>
    <body>
        <!-- templates/quiz/math_problems.html -->
<!-- templates/quiz/math_problems.html -->

        <form method="post" >
            {% csrf_token %}
            <div class="math-problems">
                {% for problem in problems %}
                    <div class="problem" data-problem-id="{{ problem.id }}">
    <div class="text-2xl font-bold top-number">{{ problem.num1 }}</div>
    <div class="text-xl bottom-number">+{{ problem.num2 }}</div>
    <hr class="my-2 border-t-2 border-gray-300"> <!-- Add a horizontal line beneath the bottom number -->
    {{ problem.user_response }}
    <div class="mt-2">
        <input id="userInput" type="number" name="response{{ problem.id }}" value="{{ problem.user_response }}" class="border border-gray-300 p-2 rounded-lg">
        <p hidden>{{ problem.answer }}</p>
    </div>
</div>
                {% endfor %}
            </div>
            <input type="submit" value="Submit">
        </form>
{% endblock content %}


