{% extends 'homebase.html' %}

{% block title %}
    Login
{% endblock title %}
{% block content %}

<main class="bg-gray-100 min-h-screen flex items-center justify-center py-8">
    <div class="bg-white p-8 rounded shadow-lg w-96">
        <h1 class="text-3xl font-bold text-black">{{ thanks.title }}</h1>
        <img src="{{ thanks.image.url }}" alt="{{ thanks.title }}" class="mt-4 w-3/4">
        <div class="mt-2 text-gray-600">By: {{ thanks.owner }}</div>
        <p class="mt-4">
            <!-- <a href="{% url 'create_thanks' %}" class="text-blue-500 hover:text-blue-700">Express Gratitude</a> -->
            <h2 class="text-gray-600 text-xl">Three Things You're Grateful for today:</h2>
        </p>
        <div class="mt-6 space-y-2">
            <p class="font-semibold text-gray-600">One:</p>
            <p class="text-black">{{ thanks.one }}</p>
            <p class="font-semibold text-gray-600">Two:</p>
            <p class="text-black">{{ thanks.two }}</p>
            <p class="font-semibold text-gray-600">Three:</p>
            <p class="text-black">{{ thanks.three }}</p>
            <p class="font-semibold text-gray-600">One thing accomplished today:</p>
            <p class="text-black">{{ thanks.four }}</p>
        </div>
    </div>
</main>
{% endblock content %}