{% extends 'homebase.html' %}

{% block title %}
    Login
{% endblock title %}
{% block content %}

<main class="bg-gray-100 min-h-screen flex flex-col items-center justify-center py-8">
    <div class="bg-white p-8 rounded shadow-lg w-96">
        <h1 class="text-3xl font-bold text-black">{{ thanks.title }}</h1>

        <span class="inline-flex items-center space-x-1">
            <a href="{% url 'thanks_delete' thanks.id %}" class="text-red-500 hover:text-red-700">Delete</a>
        </span>
        
        <img src="{{ thanks.image.url }}" alt="{{ thanks.title }}" class="mt-4 w-3/4">
        <div class="mt-2 text-gray-600">By: {{ thanks.owner }}</div>
        <p class="mt-4">
            <h2 class="text-gray-600 text-xl">Three Things You're Grateful for today:</h2>
        </p>
        <div class="mt-6 space-y-2">
            <p class="font-semibold text-gray-600">One:</p>
            <p class="text-black">{{ thanks.one }}</p>
            <p class="font-semibold text-gray-600">Two:</p>
            <p class="text-black">{{ thanks.two }}</p>
            <p class="font-semibold text-gray-600">Three:</p>
            <p class="text-black">{{ thanks.three }}</p>
            <p class="font-semibold text-gray-600">One thing accomplished today:</p>
            <p class="text-black">{{ thanks.four }}</p>
        </div>
        
        <!-- Comments Section -->
        <div class="mt-8 border-t border-gray-300 pt-4">
            <h2 class="text-2xl font-semibold mb-4">Comments</h2>
            <div class="mb-4">
                <a href="{% url 'create_comment' %}" class="text-blue-500 hover:underline">Add a Comment</a>
            </div>
            {% if thanks.comments.all|length != 0 %}
                {% for comment in thanks.comments.all %}
                <div class="mb-4">
                    <div class="flex items-center mb-2 text-black">
                        <p>{{comment.date}}</p>
                        <span class="font-semibold text-black">{{ comment.user }}:</span>
                        <p class="ml-2">{{ comment.comments }}</p>
                        
                {% endfor %}
            {% else %}
            <p class="text-gray-500">This post has no comments</p>
                <div>
                            </div>
                        </div>
                </div>
            {% endif %}
        </div>
    </div>
</main>



{% endblock content %}
