{% extends 'homebase.html' %}

{% block title %}
    All Posts
{% endblock title %}
{% block content %}
      {% load static %}

<main class="bg-gray-100 min-h-screen py-8">
  <div class="container mx-auto flex flex-wrap justify-center">
    {% for text in thanks %}
    <div class="card w-96 bg-base-100 shadow-xl image-full m-2">
      <figure><img src="{{ text.image.url }}" alt="{{ text.title }}"/></figure>
      <div class="card-body">
        <h2 class="card-title text-white">{{ text.title }}</h2>
        <p>{{ text.four }}</p>
        <span>Created: {{ text.date|date:"m/d/y" }}</span>
        <div class="card-actions justify-end">
          <a href="{% url 'show_detail' text.id %}"><button class="btn btn-accent">By: {{ text.owner }} </button></a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</main>

    
  
{% endblock %}